@tailwind base;
@tailwind components;
@tailwind utilities;

.mySwiper {
  width: 100%;
  height: 100%;
}

.mySwiper .swiper-pagination-bullet {
  background: black;
}

.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  color: white;
}
